# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:

df = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [35]:
# Your code here:
df_legendary=df[df['Legendary']==True]
df_nlegendary=df[df['Legendary']==False]
print(df_legendary.shape,'-',df_nlegendary.shape)

(65, 13) - (735, 13)

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [63]:
# Your code here:

legendarypower=df_legendary['Total'].mean()
nlegendarypower=df_nlegendary['Total'].mean()

In [71]:
legendary_std=df_legendary['Total'].std()
print('std legendary','=',legendary_std,'mean =',legendarypower)
nlegendary_std=df_nlegendary['Total'].std()
print('std non legendary','=',nlegendary_std,'mean =',nlegendarypower)

std legendary = 60.93738905315346 mean = 637.3846153846154
std non legendary = 106.76041745713022 mean = 417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [72]:
# Your code here:
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind

In [78]:
from scipy.stats import ttest_rel, ttest_ind

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    
    if len(s1)!=len(s2):
        
        if len(s1)>len(s2):
            
            s1 = s1.sample(len(s2))
            
        else:
            
            s2 = s2.sample(len(s1))
            
            
    for f in features:
        
        results[f] =  (ttest_ind(s1[f], s2[f]).pvalue)    # independientes
                       # relacionados
                    
        
        
        
    return results

In [166]:
t_test_features(df_legendary, df_nlegendary)

{'HP': 5.6986354403313476e-11,
 'Attack': 1.67675733394908e-08,
 'Defense': 2.274242493734154e-07,
 'Sp. Atk': 3.381707367917476e-21,
 'Sp. Def': 1.059985432267736e-11,
 'Speed': 1.052978341829922e-11,
 'Total': 6.860003918235108e-29}

In [106]:
ttest_ind(df_legendary['Total'],df_nlegendary['Total']).pvalue

3.0952457469652825e-52

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:
Rechazamos la hipotesis 0

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [114]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [119]:
# Your code here:

df['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [134]:
# Your code here:
df_water = df[df['Type 1'] == 'Water']
df_else_water = df[df['Type 1'] != 'Water']

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [164]:
#### EL TTEST HACE YA LA MEDIA DE POR SI

#### EL T_TEST HACE YA LA MEDIA DE POR SI

In [163]:
# Your code here:
wm=df_water['Total'].mean()
ew=df_else_water['Total'].mean()

ttest_ind(df_water['Total'],df_else_water['Total']).pvalue

0.6587140317488793

In [146]:
ew

435.85901162790697

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [167]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [173]:
# Your code here:


ttest_rel(df_legendary['Attack'],df_legendary['Defense']).pvalue

0.0037665764676260627

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
No relation between attack and defense

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [177]:
# Your code here:
ttest_rel(df_nlegendary['Sp. Atk'],df_nlegendary['Sp. Def']).pvalue

0.674961730932877

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
There is a relationship

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [201]:
# Your code here:
cmp = pd.crosstab(df['Legendary'], df[df['Type 1'] == 'Water']['Type 1'])
cmp

Type 1     Water
Legendary
False        108
True           4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: