In [1]:
import pandas as pd
import numpy as np
import joblib as jb

%pip install scikit-learn
from sklearn.model_selection import train_test_split as tts

Requirement already satisfied: scikit-learn in c:\users\usuario\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\usuario\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\usuario\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\usuario\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\usuario\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
solar=pd.read_csv('C:/Users/Usuario/Documents/Stumbling-n-Learnin-n/labs_ML/lab_solar/CSV/solar_test.csv')

In [3]:
loaded_model = jb.load('C:/Users/Usuario/Documents/Stumbling-n-Learnin-n/labs_ML/lab_solar/Python/good_model.pkl')

In [4]:
import sys
sys.path.append('C:/Users/Usuario/Documents/Stumbling-n-Learnin-n/labs_ML/lab_solar/Python')
from my_functions import process_date, process_time_columns

In [5]:
solar= process_date(solar)
solar=process_time_columns(solar)

c:\Users\Usuario\Documents\Stumbling-n-Learnin-n\labs_ML\lab_solar\Python\my_functions.py:59: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Data'] = pd.to_datetime(df['Data'])

In [6]:
solar.head()

,id,UNIXTime,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,day,month,TotalSecondsSunRise,TotalSecondsSunSet,TotalSecondsTime
0,0,1478720107,59,30.47,44,312.67,3.37,9,November,23280.0,63900.0,34507.0
1,1,1474063503,59,30.48,83,38.01,6.75,16,September,22200.0,66300.0,43503.0
2,2,1476109221,47,30.39,78,213.62,5.62,10,October,22560.0,64980.0,15621.0
3,3,1481475056,45,30.40,98,176.63,4.50,11,December,24420.0,63840.0,24656.0
4,4,1477493117,45,30.40,34,175.89,6.75,26,October,22860.0,64320.0,17117.0

In [7]:
solar.columns

Index(['id', 'UNIXTime', 'Temperature', 'Pressure', 'Humidity',
       'WindDirection(Degrees)', 'Speed', 'day', 'month',
       'TotalSecondsSunRise', 'TotalSecondsSunSet', 'TotalSecondsTime'],
      dtype='object')

In [6]:
solar.drop(columns=['id','Pressure','Temperature','UNIXTime','Speed','WindDirection(Degrees)'],axis=1,inplace=True)
solar.columns

Index(['Humidity', 'day', 'month', 'TotalSecondsSunRise', 'TotalSecondsSunSet',
       'TotalSecondsTime'],
      dtype='object')

In [7]:
solar= pd.get_dummies(solar, columns=['month'], dtype = int,drop_first=False)

In [8]:
predictions = loaded_model.predict(solar)

In [9]:
predicted_df = pd.DataFrame(predictions, columns=['Radiation'])

predicted_df.head()

   Radiation
0   682.0422
1  1045.8934
2     1.2333
3     2.8817
4     1.2171

In [10]:
df_submissions= pd.read_csv('C:/Users/Usuario/Documents/Stumbling-n-Learnin-n/labs_ML/lab_solar/CSV/submission.csv')
df_submissions.head()

   id  Radiation
0   0        500
1   1        501
2   2        502
3   3        503
4   4        504

In [11]:
df_submissions_2=df_submissions.drop(columns='Radiation',axis=1)
df_submissions_2.head()

   id
0   0
1   1
2   2
3   3
4   4

In [12]:
submission_final = pd.concat([df_submissions_2, predicted_df], axis=1)
submission_final.to_csv('submissions_final_1.csv',index=False)

In [19]:
submission_final.head()

   id  Radiation
0   0   682.7529
1   1  1052.1369
2   2     1.2269
3   3     3.7559
4   4     1.2125